<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="10" android:versionName="1.0" package="com.android.shihuo"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <permission android:name="com.android.shihuo.permission.JPUSH_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.android.shihuo.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <application android:theme="@style/AppTheme"
           android:hardwareAccelerated="true"
         android:label="@string/app_name" 
        android:icon="@drawable/ic_launcher"
         android:name="com.shell.ProxyApplication" 
         android:allowBackup="true">
             <meta-data android:name="APPLICATION_CLASS_NAME" android:value="com.android.shihuo.MyApplication"/>
        <activity android:name="com.android.shihuo.MainActivity" android:launchMode="singleTask" />
        <activity android:name="com.android.shihuo.activity.TomorrowActivity" />
        <activity android:name="com.android.shihuo.activity.HotActivity" />
        <activity android:name="com.android.shihuo.activity.ProductDetailActivity" />
        <activity android:name="com.android.shihuo.activity.LoginActivity" />
        <activity android:name="com.android.shihuo.activity.MsgActivity" />
        <activity android:name="com.android.shihuo.activity.TryRecordActivity" />
        <activity android:name=".activity.MytryDetailActivity" />
        <activity android:name="com.android.shihuo.activity.TaobaoProductDetailactivity" />
        <activity android:name="com.android.shihuo.activity.ApplyMoneyActivity" />
        <activity android:name=".activity.guide.UserInfoStep1Activity" />
        <activity android:name=".activity.guide.UserInfoStep2Activity" />
        <activity android:name=".activity.guide.UserInfoStep3Activity" />
        <activity android:name="com.android.shihuo.activity.helpcenter.TryProcessActivity" />
        <activity android:name="com.android.shihuo.activity.helpcenter.QAActivity" />
        <activity android:name=".activity.helpcenter.MustReadActivity" />
        <activity android:name="com.android.shihuo.activity.UserInfoActivity" />
        <activity android:name="com.android.shihuo.activity.MsgDetailActivity" />
        <activity android:label="@string/app_name" android:name="com.android.shihuo.Splash" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="UMENG_APPKEY" android:value="5412a187fd98c590c100c51f" />
        <meta-data android:name="UMENG_CHANNEL" android:value="baidu" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:name="com.umeng.fb.ConversationActivity" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:name="com.umeng.fb.ContactActivity" />
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:name="com.umeng.update.UpdateDialogActivity" />
        <service android:name="com.umeng.update.net.DownloadingService" android:process=":DownloadingService" />
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:name="cn.sharesdk.framework.ShareSDKUIShell" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1102844637" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:name=".wxapi.WXEntryActivity" android:exported="true" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:name="cn.jpush.android.ui.PushActivity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.android.shihuo" />
            </intent-filter>
        </activity>
        <service android:name="cn.jpush.android.service.DownloadService" android:enabled="true" android:exported="false" />
        <service android:name="cn.jpush.android.service.PushService" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <receiver android:name="cn.jpush.android.service.PushReceiver" android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.android.shihuo" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        <receiver android:name="com.android.shihuo.receiver.JPushReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.android.shihuo" />
            </intent-filter>
        </receiver>
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default" />
        <meta-data android:name="JPUSH_APPKEY" android:value="ad279b5926b356a69c19e770" />
    </application>
</manifest>